.cart-page {
  display: none;
  padding: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  span {
    font-size: 14px;
  }
}